main{
    position: relative;
    display: flex;
}

body {
    text-align: auto;
}

img{
    height: 200px;
    width: auto;
    display: flex;
    align-items: center;
}

figure{
    margin-block-start: auto;
    margin-block-end: 1;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.frame{
    padding : 30px;
    border-radius: 15px;
    text-align: auto; 
}

.frame{
    background-color:rgb(130, 204, 212);
    max-width: 500px ;
    text-align: auto; 
}

html{
    background-color: #b8e3f4; 
}

header{
    height: 100px;
}

header, footer {
    background-color: #b8e3f4;
    color: #ffffff;
    padding: 20px;
    text-align: center; 
}

footer {
    background-color: #b8e3f4;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

#content{
    position: relative;
    display: inline-block;
    left: auto;
    top: 10px;
    height: 10vh;
    width: 400px;
}

#toto{
    display: grid; 
    grid-template-rows: auto;
    grid-template-columns: 500px 500px;
    gap: 10px; 
}

#content section{
    width: 300px;
    padding: 1cqi;
    position: relative;
}

#toto, #content{
    grid: 1;
}

section{
    display: inline-block;
}